Cython
Jinja2
MarkupSafe
Pygments
appnope
argparse
backports-abc
backports.ssl-match-hostname
certifi
cycler
decorator
future
ipykernel
ipython
ipython-genutils
ipywidgets
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
numpy
scipy
gnureadline
matplotlib
mistune
nbconvert
nbformat
notebook
path.py
pexpect
pickleshare
ptyprocess
pyparsing
python-dateutil
pytz
pyzmq
qtconsole
simplegeneric
singledispatch
sites
six
terminado
tornado
traitlets
Pillow
